body{
    background-color: #18A383;
}

.field-container div{
    display: inline-block;
    vertical-align: top;
}

.field-container i{
    border: solid 1px #ccc;
    background-color: #ddd;
    color: #888;
    padding: 12.5px 10px 11px 10px;
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
    vertical-align: top;
}

.field{
    border: solid 1px #ccc;
    padding: 12px;
    border-radius: 0 5px 5px 0;
    width: 230px;
    height: 12px;
}

.field:focus{
    border-color: #18A383;
}

textarea{
    vertical-align: top;
    resize: none;
    outline: none;
    border: 0;
}

form{
    text-align: center;
    margin: 0 auto;
    color: #999;
    border-radius: 3px;
    padding: 20px;
    background-color: white;
    width: 300px;
    font-size: 0.8em;
}

.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.btn-green{
    color: white;
    background-color: #3CC93F;
    width: 140px;
}

.btn-green:hover{
    background-color: #37B839;
}

.btn-green:hover{
    background-color: #29962A;
}